body {
  background-attachment: fixed;
  background-image: url(images/DSC_0093.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center; }

h1 {
  font-family: "Roboto Condensed", "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: normal;
  margin: 0 auto 10px;
  position: relative;
  text-transform: uppercase;
  z-index: 2; }

a {
  color: #000;
  text-decoration: none; }

.container {
  background-color: #fff;
  display: inline-block;
  margin: 100px auto 0;
  padding: 50px;
  position: relative; }
  @media (max-width: 400px) {
    .container {
      margin-top: 30px; } }

.hr {
  background-color: #000;
  height: 1px;
  margin: 0 auto 30px auto;
  width: 90%; }

.roles {
  padding-left: 0;
  margin: 0 0 30px; }
  .roles li {
    border-right: 1px solid #000;
    display: inline-block;
    font-size: 13px;
    margin: 0 0 0 5px;
    padding: 0 5px 0 0; }
    .roles li:last-child {
      border-right: none; }
    @media (max-width: 480px) {
      .roles li {
        border-right: none;
        display: block; } }

.links {
  display: block;
  margin: auto;
  padding: 0;
  position: relative;
  text-align: center; }
  .links li {
    display: inline-block;
    font-size: 20px;
    list-style-type: none; }
    @media (max-width: 400px) {
      .links li {
        display: block;
        left: 0;
        position: relative;
        text-align: left;
        -webkit-transition: left 0.15s ease-in-out;
        -moz-transition: left 0.15s ease-in-out;
        -ms-transition: left 0.15s ease-in-out;
        -o-transition: left 0.15s ease-in-out;
        transition: left 0.15s ease-in-out; }
        .links li:hover {
          left: 10px; } }
    .links li a {
      padding: 0 10px; }
      @media (max-width: 400px) {
        .links li a {
          display: block;
          padding: 2px 0; } }
    .links li span {
      display: block;
      font-family: Arial;
      font-size: 12px;
      left: 0;
      opacity: 0;
      position: absolute;
      text-align: center;
      right: 0;
      text-transform: uppercase;
      top: 0;
      -webkit-transition: opacity 0.25s ease-in-out, top 0.2s ease-in-out;
      -moz-transition: opacity 0.25s ease-in-out, top 0.2s ease-in-out;
      -ms-transition: opacity 0.25s ease-in-out, top 0.2s ease-in-out;
      -o-transition: opacity 0.25s ease-in-out, top 0.2s ease-in-out;
      transition: opacity 0.25s ease-in-out, top 0.2s ease-in-out;
      z-index: -1; }
      @media (max-width: 400px) {
        .links li span {
          display: inline;
          font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 400;
          margin-left: 8px;
          opacity: 1;
          position: static; } }
    .links li:hover span {
      opacity: 1;
      top: -20px;
      z-index: 1; }

/*# sourceMappingURL=style.css.map */
