body {
  background-attachment: fixed;
  background-image: url(images/DSC_0093.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center; }

a {
  color: #000;
  text-decoration: none; }

.container {
  background-color: #fff;
  display: inline-block;
  margin: 100px auto 0;
  padding: 50px;
  position: relative; }

#content1 {
  margin: auto;
  position: relative;
  text-align: center; }

h1 {
  font-family: "Roboto Condensed";
  font-size: 22px;
  font-weight: normal;
  margin: 0 auto 10px;
  position: relative;
  text-transform: uppercase;
  z-index: 2; }

.hr {
  background-color: #000;
  height: 1px;
  margin: 0 auto 30px auto;
  width: 300px; }

#roles {
  padding-left: 0;
  margin: 0 0 30px; }
  #roles li {
    border-right: 1px solid #000;
    display: inline-block;
    font-size: 13px;
    margin: 0 0 0 5px;
    padding: 0 5px 0 0; }
    #roles li:last-child {
      border-right: none; }

#content2 {
  margin: auto;
  position: relative;
  z-index: 2; }

#links {
  display: block;
  margin: auto;
  padding: 0;
  position: relative;
  text-align: center; }

#links li {
  display: inline-block;
  font-size: 20px;
  list-style-type: none;
  margin: 0 10px; }

/*#links li:after {
    content: "\25B3";
    font-size: 5px;
    margin: 0 5px 0 8px;
    position: relative;
}*/
#links li:last-of-type:after {
  content: none; }

#links li span {
  display: block;
  font-family: Arial;
  font-size: 12px;
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  right: 0;
  text-transform: uppercase;
  top: 0;
  -webkit-transition: opacity 0.25s ease-in-out, top 0.2s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out, top 0.2s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out, top 0.2s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out, top 0.2s ease-in-out;
  transition: opacity 0.25s ease-in-out, top 0.2s ease-in-out;
  z-index: -1; }

#links li:hover span {
  opacity: 1;
  top: -20px; }

@media (max-width: 720px) and (min-width: 551px) {
  #container {
    left: 20px;
    right: 20px; } }
@media (max-width: 550px) and (min-width: 1px) {
  h1 {
    font-size: 30px;
    letter-spacing: 10px; }

  #container {
    left: 0;
    right: 0;
    width: 100%; }

  #content1 {
    top: 80px; }

  #triangle:after {
    color: rgba(255, 255, 255, 0.6);
    content: "\025BD";
    line-height: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 250px;
    position: relative;
    top: -30px;
    z-index: 1; }

  #content-separator {
    width: 100px; }

  #links {
    width: 120px;
    margin: auto;
    text-align: left; }

  #links li {
    display: block;
    left: 0;
    position: relative;
    -webkit-transition: left 0.15s ease-in-out;
    -moz-transition: left 0.15s ease-in-out;
    -ms-transition: left 0.15s ease-in-out;
    -o-transition: left 0.15s ease-in-out;
    transition: left 0.15s ease-in-out; }

  #links li:after {
    content: none; }

  #links li:hover {
    left: 10px; }

  #links li a {
    display: block;
    padding: 5px 0; }

  #links li span {
    display: inline;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-left: 8px;
    opacity: 1;
    position: static; } }

/*# sourceMappingURL=style.css.map */
